$chezmoiSource = "{{ .chezmoi.sourceDir }}"
Write-Host "chezmoi source path: $chezmoiSource" -ForegroundColor Cyan
Write-Host "chezmoi root path: $PSScriptRoot" -ForegroundColor Cyan

#. $PROFILE

#Invoke-Expression "$(vfox activate pwsh)"

Write-Host "Configure environments" -ForegroundColor Cyan
#vfox use --global java@{{ index (index .vfox.versions .machine.type) "java" }}
#vfox use --global maven@{{ index (index .vfox.versions .machine.type) "maven" }}