{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name  := promptStringOnce . "name" "User Name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
[scriptEnv]
    HOMEBREW_BUNDLE_FILE = "~/.private/Brewfile"