Set-Alias 'g' 'git'
Set-Alias 'ga' 'git add'
Set-Alias 'gaa' 'git add --all'
Set-Alias 'gam' 'git am'
Set-Alias 'gama' 'git am --abort'
Set-Alias 'gamc' 'git am --continue'
Set-Alias 'gams' 'git am --skip'
Set-Alias 'gamscp' 'git am --show-current-patch'
Set-Alias 'gap' 'git apply'
Set-Alias 'gapa' 'git add --patch'
Set-Alias 'gapt' 'git apply --3way'
Set-Alias 'gau' 'git add --update'
Set-Alias 'gav' 'git add --verbose'
Set-Alias 'gb' 'git branch'
Set-Alias 'gbD' 'git branch -D'
Set-Alias 'gba' 'git branch -a'
Set-Alias 'gbd' 'git branch -d'
Set-Alias 'gbl' 'git blame -b -w'
Set-Alias 'gbnm' 'git branch --no-merged'
Set-Alias 'gbr' 'git branch --remote'
Set-Alias 'gbs' 'git bisect'
Set-Alias 'gbsb' 'git bisect bad'
Set-Alias 'gbsg' 'git bisect good'
Set-Alias 'gbsr' 'git bisect reset'
Set-Alias 'gbss' 'git bisect start'
Set-Alias 'gc' 'git commit -v'
Set-Alias 'gca' 'git commit -v -a'
Set-Alias 'gcam' 'git commit -a -m'
Set-Alias 'gcas' 'git commit -a -s'
Set-Alias 'gcasm' 'git commit -a -s -m'
Set-Alias 'gcb' 'git checkout -b'
Set-Alias 'gcf' 'git config --list'
Set-Alias 'gcl' 'git clone --recurse-submodules'
Set-Alias 'gclean' 'git clean -id'
Set-Alias 'gcmsg' 'git commit -m'
Set-Alias 'gco' 'git checkout'
Set-Alias 'gcor' 'git checkout --recurse-submodules'
Set-Alias 'gcount' 'git shortlog -sn'
Set-Alias 'gcp' 'git cherry-pick'
Set-Alias 'gcpa' 'git cherry-pick --abort'
Set-Alias 'gcpc' 'git cherry-pick --continue'
Set-Alias 'gcs' 'git commit -S'
Set-Alias 'gcsm' 'git commit -s -m'
Set-Alias 'gcss' 'git commit -S -s'
Set-Alias 'gcssm' 'git commit -S -s -m'
Set-Alias 'gd' 'git diff'
Set-Alias 'gdca' 'git diff --cached'
Set-Alias 'gdcw' 'git diff --cached --word-diff'
Set-Alias 'gds' 'git diff --staged'
Set-Alias 'gdt' 'git diff-tree --no-commit-id --name-only -r'
Set-Alias 'gdw' 'git diff --word-diff'
Set-Alias 'gf' 'git fetch'
Set-Alias 'gfa' 'git fetch --all --prune --jobs=10'
Set-Alias 'gfo' 'git fetch origin'
Set-Alias 'gg' 'git gui citool'
Set-Alias 'gga' 'git gui citool --amend'
Set-Alias 'ghh' 'git help'
Set-Alias 'gignore' 'git update-index --assume-unchanged'
Set-Alias 'gl' 'git pull'
Set-Alias 'glg' 'git log --stat'
Set-Alias 'glgg' 'git log --graph'
Set-Alias 'glgga' 'git log --graph --decorate --all'
Set-Alias 'glgm' 'git log --graph --max-count=10'
Set-Alias 'glgp' 'git log --stat -p'
Set-Alias 'glo' 'git log --oneline --decorate'
Set-Alias 'gm' 'git merge'
Set-Alias 'gma' 'git merge --abort'
Set-Alias 'gmtl' 'git mergetool --no-prompt'
Set-Alias 'gmtlvim' 'git mergetool --no-prompt --tool=vimdiff'
Set-Alias 'gp' 'git push'
Set-Alias 'gpd' 'git push --dry-run'
Set-Alias 'gpf' 'git push --force-with-lease'
Set-Alias 'gpr' 'git pull --rebase'
Set-Alias 'gpu' 'git push upstream'
Set-Alias 'gpv' 'git push -v'
Set-Alias 'gr' 'git remote'
Set-Alias 'gra' 'git remote add'
Set-Alias 'grb' 'git rebase'
Set-Alias 'grba' 'git rebase --abort'
Set-Alias 'grbc' 'git rebase --continue'
Set-Alias 'grbi' 'git rebase -i'
Set-Alias 'grbo' 'git rebase --onto'
Set-Alias 'grbs' 'git rebase --skip'
Set-Alias 'grev' 'git revert'
Set-Alias 'grh' 'git reset'
Set-Alias 'grhh' 'git reset --hard'
Set-Alias 'grm' 'git rm'
Set-Alias 'grmc' 'git rm --cached'
Set-Alias 'grmv' 'git remote rename'
Set-Alias 'grrm' 'git remote remove'
Set-Alias 'grs' 'git restore'
Set-Alias 'grset' 'git remote set-url'
Set-Alias 'grss' 'git restore --source'
Set-Alias 'grst' 'git restore --staged'
Set-Alias 'gru' 'git reset --'
Set-Alias 'grup' 'git remote update'
Set-Alias 'grv' 'git remote -v'
Set-Alias 'gsb' 'git status -sb'
Set-Alias 'gsd' 'git svn dcommit'
Set-Alias 'gsh' 'git show'
Set-Alias 'gsi' 'git submodule init'
Set-Alias 'gsps' 'git show --pretty=short --show-signature'
Set-Alias 'gsr' 'git svn rebase'
Set-Alias 'gss' 'git status -s'
Set-Alias 'gst' 'git status'
Set-Alias 'gsta' 'git stash push'
Set-Alias 'gstaa' 'git stash apply'
Set-Alias 'gstall' 'git stash --all'
Set-Alias 'gstc' 'git stash clear'
Set-Alias 'gstd' 'git stash drop'
Set-Alias 'gstl' 'git stash list'
Set-Alias 'gstp' 'git stash pop'
Set-Alias 'gsts' 'git stash show --text'
Set-Alias 'gsu' 'git submodule update'
Set-Alias 'gsw' 'git switch'
Set-Alias 'gswc' 'git switch -c'
Set-Alias 'gts' 'git tag -s'
Set-Alias 'gtv' 'git tag | sort -V'
Set-Alias 'gunignore' 'git update-index --no-assume-unchanged'
Set-Alias 'gup' 'git pull --rebase'
Set-Alias 'gupa' 'git pull --rebase --autostash'
Set-Alias 'gupav' 'git pull --rebase --autostash -v'
Set-Alias 'gupv' 'git pull --rebase -v'
Set-Alias 'gwch' 'git whatchanged -p --abbrev-commit --pretty=medium'