{{ if eq .chezmoi.os "windows" }}
# Perfil de PowerShell personalizado para Windows

# Alias útiles
Set-Alias ll Get-ChildItem

$gitAliasesPath = Join-Path $PSScriptRoot 'git_aliases.ps1'
if (Test-Path $gitAliasesPath) {
	. $gitAliasesPath
}

# Variables de entorno
$env:EDITOR = "nvim"
{{ end }}